################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
.dep.inc
in.txt
out.txt
*.exe.stackdump
bin/*
obj/*
obj/Debug/*
*.exe
*.o
.DS_Store
/Sazonov/*
!/Sazonov/*.c
!/Sazonov/*.cpp
Sazonov/0/testbuild
*.opensdf
*.sdf
*.suo
*.vsxproj
*.vsxproj.filters
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.obj
*.log