################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

in.txt
out.txt
*.o
bin/*
obj/*
*.exe.stackdump